section{
  display: block;
}
div{
  display: block;
}

body {
  font-size: 17px;
  font-weight: 400;
  color: #1d1d1f;
}

.horizontalContent{
  display: block;
  margin-bottom: 50px;
}

.leftcontentSection{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row-reverse;
}

#retiredJersey{
  position: relative;
  box-sizing: border-box;
  margin-left: 100px;
  margin-top:150px;
  padding: 0;
  min-width: 0px;
  flex-basis: 49%;
  max-width: 55.56%;
  flex-direction: row-reverse;
  top: 50px;
}

.halfContent{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0px;
}

.halfHeadline{
  font-size: 56px;
  font-weight: 700;
  display: block;
}

.halfSubhead{
  text-align: justify;
  text-indent: 2em;
  font-size: 18px;
  width: 24rem;
}
.yearHeadline{
  font-size: 21px;
  font-weight: 600;
  display: block;
  margin-bottom: 0.1rem;
}

/* Flex Columns Section */

.flexColumns{
  padding-top: 50px;
  text-align: center;
}

.blockContainer{
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  text-align: center;
}

.flexContainer{
  background-color: #f2f2f2;
  padding: 50px 0 0 0; /*check this*/
  display: flex;
  justify-content: space-between;
  margin: 0 2% 30px;
}


#nbaKobe{
  margin-bottom: 80px;
  text-align: center;
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.yearTableRow{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  text-align: center;
}

.yearColumn1, .yearColumn2, .yearColumn3{
  flex-basis: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0px;
}

.column-content{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
}

.flex-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.columnImages{
  margin-bottom: 30px;
  width: 300px;
  height: 168px;
  background-size: 286px 168px;
  background-repeat: no-repeat;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12.5px;
}

.yearMiniline{
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
}

.quoteMiniline{
  font-weight: 700;
  margin-top: 0;
  font-size: 14px;
}

.listAccolades{
  margin-left: 0;
  margin-top: 20px;
  /* border-right: 1px solid #d2d2d7; */
}

.listItems{
  list-style: none;
  margin-top: 12.5px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  letter-spacing: .02em;
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 12.5px;
}

/* Off the court page */

#otc_headline{
  max-width: 20%;
}

.headlineContainer{
  display: block;
}

.rightcontentSection{
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

#nikeImage{
  border-radius: 12.5px;
  max-width: 650px;
  margin-right: 50px;
  position: relative;
  left: -60px;
  max-height: 350px;
  margin-top: 100px;
}

.readjust{
  position: relative;
  left: -15px;
}

#marginBoy{
  margin-top: 100px;
}

.halfImage{
  border-radius: 12.5px;
  max-width: 650px;
  max-height: 350px;
  position: relative;
  margin-top: 250px;
}

.widthChange{
  width: 26rem;
}


/* Player Profile */

/*top section of Player Profile*/

.billBoard{
  background-color: #131313;
}

.contentContainer{
  min-height: 480px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.profileInfo{
  text-align: left;
  position: absolute;
  z-index: 1;
  top: 30%;
  width: 100%;
}

.billboardHeader{
  padding-right: 50%;
  font-size: 48px;
  font-weight: 400;
  color: #f5f5f7;
}
.billboardP{
  padding-right: 58%;
  font-size: 22px;
  font-weight: 400;
  color: #f5f5f7;
}

.billboardImage{
  margin-left: 20%;
  padding-top: 10%;
}

#kobeFade{
  margin-left: 265px;
  border-radius: 12.5px;
}

.mainFix{
  padding-top: 20px;
}

/* bottom section of Player Profile */

.billBox{
  margin-bottom: 50px;
  background-color: #fff;
  max-width: 1080px;
  margin: 50px auto 50px auto;
}

.boxHeader{
  text-align: center;
}

.boxHeaderline{
  font-size: 32px;
  font-weight: 700;
  margin: auto;
}

.textBox{
  max-width: 1080px;
  margin: 24px auto 0 auto;
}

.boxP{
  text-indent: 2em;
  text-align: justify;
  line-height: 1.5;
}

.quote{
  border-top: 1px solid #d2d2d7;
  border-bottom: 1px solid #d2d2d7;
  width: 60%;
  margin: 0 auto 0 auto;
}

.quote h2{
  text-align: center;
  font-size: 22px;
  font-weight: 400;
}

.quote p{
  text-align: left;
  font-size: 15px;
}

.wideStyle{
  width: 80%;
}
